html,
body {
  margin: 10px;
  padding: 0;
  font-family: sans-serif;
}

#controls {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

span:nth-child(2) {
  margin-left: 20px;
}

#country-info {
  color: #666;
  font-size: 28px;
  position: absolute;
  top: 60px;
  left: 40px;
}

svg {
  border: 1px solid #ddd;
}

circle {
  stroke: white;
  stroke-width: 1.5;
}

.continent-key-element text {
  fill: white;
}

.selected {
  stroke: black;
  fill: white;
}
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.title {
  fill: teal;
  font-weight: bold;
}

.dot--hovered {
  /* 
    The definition here means that the styles defined below apply
    (1) If an element has "dot--hovered",
    OR
    (2) If an element has both "dot--selected" and "dot--hovered" classes
    
    Because of (2), the styles here will take precedence and overwrite the styles
    define for the ".dot--selected" class alone. This means that hovering effect
    takes precedence over brush selection. If a dot is both hovered and inside the brush,
    it will be styled as if it is hovered.
  */
  fill: rgba(255, 255, 0, 0.5);
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 250px;
  height: 250px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 320px auto;
}
